<?xml version="1.0"?>
<launch>

  <!-- arg: tao ten bien va cau hinh bien-->
  <arg name="model" default="$(find robot)/urdf/robot.urdf.xacro"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find robot)/rviz/mapping.rviz" />

  <!-- Parameter: khi chay tai tham so len ros, cau hinh 1 so node -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <!-- rosparam:tai thong so len ros voi namespace laf robot_difff-->
  <rosparam command="load"
            file="$(find robot)/config/diffdrive.yaml"
            ns="robot_diff_drive_controller" />

  <!-- Load Gazebo control parameters -->
  <rosparam command="load" file="$(find robot)/config/gazebo_ros_control_params.yaml"/>
  <!-- Load joint_state_controller config -->
  <rosparam command="load" file="$(find robot)/config/joints.yaml" ns="mobile_robot_joint_state_controller"/>

  <!-- Load all other required nodes -->
  <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" />  
  <!-- mo rviz-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <!-- them bo dk vao gazebo   -->
  <node name="robot_controller_spawner" pkg="controller_manager" type="spawner" args="mobile_robot_joint_state_controller robot_diff_drive_controller --shutdown-timeout 3"/>

  <!-- Launch an empty world in Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find model_plugin)/worlds/c205.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  
  <!-- them robot vao gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-x 1.0 -y 0.5 -z 1.0 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />

</launch>